* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px 150px;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

.image {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.box1 {
    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position-x: 80%;
    grid-column: span 6;
    background-color: hsl(263, 55%, 52%);
}
.box1 .headline {
    color: hsl(210, 46%, 95%);
}
.box1 .user .user-id .name {
    color: rgba(236, 242, 248, 0.7);
}

.box2 {
    grid-column: span 3;
    background-color: hsl(217, 19%, 35%);
}
.box2 .headline {
    color: hsl(210, 46%, 95%);
}
.box2 .user .user-id .name {
    color: rgb(236, 242, 248, 0.7);
}

.box3 {
    grid-column: span 3;
    background-color: hsl(0, 0%, 100%);
}
.box3 .headline {
    color: hsl(217, 19%, 35%);
}
.box3 .user .user-id .name {
    color: rgba(72, 85, 106, 0.7);
}

.box4 {
    grid-column: span 6;
    background-color: hsl(219, 29%, 14%);
}
.box4 .headline {
    color: hsl(210, 46%, 95%);
}
.box4 .user .user-id .name {
    color: rgba(236, 242, 248, 0.7);
}

.box5 {
    grid-column: 10 / span 3;
    grid-row: 1 / span 2;
    background-color: hsl(0, 0%, 100%);
}
.box5 .headline {
    color: hsl(217, 19%, 35%);
}
.box5 .user .user-id .name {
    color: rgba(72, 85, 106, 0.7);
}

.user {
    display: flex;
}
.user .user-id {
    padding-left: 15px;
    color: rgba(207, 207, 207, 0.5);
}

.design {
    height: auto;
    padding: 25px;
    border-radius: 10px;
}
.design .headline {
    font-size: 1.25rem;
    margin: 15px 0;
}
.design .text {
    line-height: 1.5;
    color: hsl(0, 0%, 81%);
}

/* Media Query */
@media only screen and (max-width: 1224px) {
    .container {
        padding: 10px 50px;
    }
}

@media only screen and (max-width: 880px) {
    .grid-container {
        grid-auto-rows: auto;
    }
    .box2 {
        grid-column: span 6;
    }
    .box3 {
        grid-column: span 6;
    }
    .box5 {
        grid-row: auto;
        grid-column: auto / span 12;
    }
}

@media only screen and (max-width: 650px) {
    .container {
        padding: 30px 15px;
    }
    .box1,
    .box2,
    .box3,
    .box4,
    .box5 {
        grid-column: span 12;
    }
}
