* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
}
.container {
    width: 80%;
    padding: 10px;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

.image {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.box1 {
    grid-column: span 6;
    background-color: hsl(263, 55%, 52%);
}
.box2 {
    grid-column: span 3;
    background-color: hsl(217, 19%, 35%);
}
.box3 {
    grid-column: span 3;
    background-color: hsl(0, 0%, 100%);
}
.box4 {
    grid-column: span 6;
    background-color: hsl(219, 29%, 14%);
}
.box5 {
    grid-column: 10 / span 3;
    grid-row: 1 / span 2;
    background-color: hsl(0, 0%, 100%);
}

.user {
    display: flex;
}
.user .name {
    padding-left: 15px;
}

.design {
    height: auto;
    padding: 25px;
    border-radius: 10px;
}
.design .headline {
    font-size: 1.2rem;
    margin: 10px 0;
}
.design .text {
    line-height: 1.5;
}
